# npm
node_modules/
.next/
out/

#environment
.env.development.local
.env.local
/.idea/codeStyles/codeStyleConfig.xml
/.idea/git_toolbox_prj.xml
.vercel
/utils/litterpic-fa0bb-key.json
/secrets/
/AugmentWebviewStateStore.xml
.idea/AugmentWebviewStateStore.xml
.idea/workspace.xml

