// Common Colors
$litterpic-green: #015e41;
$light-green-dull: #baceba;
$nav-green: #479079;
$table-highlight-green: #4caf50;
$black: #000;
$white: #fff;
$button-hover-yellow: #cf7;
$gray: #d3d3d3;
$red: #f00;
$light-gray: #e5e5e4;
$table-gray: #ddd;
$profile-text-gray: #aaa;
$dark-blue: #00f;
$facebook-blue: #4267b2;
$instagram-pink: #c13584;
$linkedin-blue: #0a66c2;
$translucent-black: rgba(0, 0, 0, .4);
$input: #e8f0fe;
