.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;

    img {
        border-radius: 10%;
        height: 17.2rem;
        margin: .5rem;
        width: 12.5rem;

    @media (max-width: 600px) {
        flex: 1 1 calc(50% - 1rem);
    }
    }
}
