@import 'colors';
@import 'fonts';

// Donate
.donate-legal-text {
  margin-right: 2.5rem;
}

.donate-tax {
  font-size: .9rem;
  font-style: italic;
  text-align: center;
}

.donorbox-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.donorbox-container {
  flex: 0 0 auto;
  margin-top: 1.25rem;
}

.donate-image-container {
  column-gap: 5rem;
  display: flex;
  flex-direction: row;
}

.donorbox-widget {
  display: flex;
  justify-content: left;
  margin-bottom: 1.25rem;
}

@media (max-width: 76.5rem) {
  .donorbox-images-container-desktop {
    display: none;
  }

  .donate-tax {
    font-size: .5rem;
  }

  .donorbox-images-container {
    display: flex;
    flex-direction: row;
  }

  .donorbox-container {
    flex: 0 0 auto;
    margin-top: 1.25rem;
  }

  .donate-image-container {
    column-gap: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .donate-image {
    display: flex;
    height: auto;
    width: 25%;
  }

  .legal {
    margin-right: 2.5rem;
  }
}


@media (min-width: 76.5rem) {
  .donorbox-images-container {
    display: none;
  }

  .donorbox-images-container-desktop {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .donate-image-desktop {
    height: 250px;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 7rem;
    width: auto;
  }
}
