@import 'colors';
@import 'fonts';

// Footer
.address-link {
  &:hover {
    color: $dark-blue;
    cursor: pointer;
  }
}

.footer {
  align-items: end;
  background-color: $gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: .5rem;

  &-column-1 {
    padding-left: 3rem;
  }

  &-column-1,
  &-column-2,
  &-column-3 {
    justify-self: center;

    p {
      font-size: 16px;
      text-align: center;
    }
  }

  &-column-3 {
    align-self: flex-start;

    a {
      align-self: flex-start;
      font-size: 16px;
      line-height: 1.5;

      &:link {
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    a {
      text-align: center;
    }
  }
}


@media (max-width: 76.5rem) {
  .footer {
    align-items: end;
    padding-bottom: .5rem;
    padding-top: .6rem;

    &-column-1 {
      padding-left: .5rem;
      width: 10rem;
    }

    &-column-1,
    &-column-2,
    &-column-3 {
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 1;

      p {
        font-size: 1rem;
        line-height: 1;
        transform: scale(.7);
        transform-origin: left;
      }
    }

    &-column-2 {
      margin-bottom: .5rem;

      a {
        &:link {
          font-size: .7rem;
        }
      }
    }

    &-column-3 {
      a {
        line-height: 1.75;

        &:link {
          font-size: .7rem;
        }
      }
    }
  }
}

