@import 'colors';
@import 'fonts';

// Home
.overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.weight-box {
  align-items: center;
  background-color: $light-gray;
  border: .06rem solid $litterpic-green;
  border-radius: .5rem;
  box-shadow: .3rem .3rem .6rem $translucent-black;
  display: flex;
  font-family: 'Arial', serif;
  font-weight: bold;
  height: auto;
  justify-content: center;
}

.pounds-text {
  color: $black;
  font-size: 2rem;
}

p {
  &.litter-weight {
    color: $litterpic-green;
    font-family: RopaSans, sans-serif;
    font-size: 2rem;
    padding: 1rem;
  }

  .index-inspire-change-text {
    color: $litterpic-green;
    font-style: italic;
    font-weight: bold;
  }
}

.index-wrapper {
  column-gap: 5rem;
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;

  p {
    font-size: 1rem;
  }

  .index-starting-text {
    color: $litterpic-green;
    font-size: 2.15rem;
    font-weight: bolder;
  }

  .index-column-two-row-one {
    display: grid;
    grid-template-rows: auto;
    margin-right: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    li {
      flex: 1;
    }
  }
}

.image-row {
  margin-bottom: 2rem;
}

.index-more-stories-button {
  padding-left: 1rem;
  text-decoration: none;

  button {
    border-radius: .5rem;
  }
}


@media (max-width: 76.5rem) {
  .index-wrapper {
    column-gap: 5rem;
    display: flex;
    flex-direction: column;

    p,
    li {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .index-starting-text {
      color: $litterpic-green;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .index-column-two-row-one {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;

      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
      }

      li {
        flex: 1;
        margin-left: 1rem;
      }
    }
  }

  .index-more-stories-button {
    display: flex;
    justify-content: flex-start;

    button {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  .pounds-text {
    color: $black;
    font-size: 1rem;
  }

  p {
    &.litter-weight {
      color: $litterpic-green;
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  .pounds-text {
    color: $black;
    font-size: 1.75rem;
  }

  p {
    &.litter-weight {
      font-size: 1.75rem;
      padding: 1rem;
    }
  }
}
