@import 'colors';
@import 'fonts';

// Image Row
.image-row {
  overflow-x: auto;
  white-space: nowrap; // Prevent images from wrapping to the next line

  .image-row__item {
    display: inline-block; // Display images in a row
    height: 18.75rem;
    margin: .125rem;
    object-fit: cover;
    width: 18.75rem;
  }
}

.image-row-container {
  overflow: hidden;
  position: relative;
}

.image-row__scroll-arrow {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
