// Common Colors
@import 'colors';

// Login
.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-email {
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: auto;
  width: 15.6rem;
}

.sign-in-password {
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: auto;
  width: 15.6rem;
}

.sign-in-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.9rem;
  width: 6.25rem;
}

@media (max-width: 76.5rem) {
  // Mobile Support
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  // Mobile Support
}
