@import 'colors';
@import 'fonts';

// Login
.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-new-user-heading {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.sign-in-sign-up-link {
  padding-left: .5rem;
}

.sign-in-email {
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: auto;
  width: 15.6rem;
}

.sign-in-password {
  font-size: 1.1rem;
  margin-bottom: .25rem;
  margin-left: auto;
  margin-right: auto;
  width: 15.6rem;
}

.sign-in-button {
  border-radius: .5rem;
  font-family: Poppins, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.9rem;
  width: 6.25rem;

  &:hover {
    background-color: $facebook-blue;
  }
}

.sign-in-forgot-password {
  cursor: pointer;
  font-size: .75rem;
  font-style: italic;
  text-decoration: none;
}
