@import 'colors';
@import 'fonts';

.logo-bar {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  .logo-bar-left-content {
    align-items: center;
    display: flex;

    .logo-content {
      align-items: center;
      display: flex;
      padding: 0;

      img {
        border-radius: .5rem;
        cursor: pointer;
        height: 3.5rem;
        width: auto;
      }
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;

      p {
        line-height: 1.15;
      }

      .logo {
        font-size: 1.75rem;
        margin-right: .3rem;
      }

      .tagline {
        color: $litterpic-green;
        font-size: 1.1rem;
        font-style: italic;
        margin-top: 0;
      }
    }
  }

  .logo-bar-right-content {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 100%;
  }
}

.login-button,
.donate-button {
  align-items: center;
  align-self: center;
  background-color: $facebook-blue;
  border-radius: .5rem;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 3.25rem;
  justify-content: center;
  line-height: 1.25;
  margin-bottom: auto;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .5s ease;
  width: auto;

  &:hover {
    background-color: $nav-green;
  }
}

.donate-button {
  display: flex;
  font-family: Rubik, Times, sans-serif;
  font-size: 28px;
  height: 2.5rem;
  margin: auto 0;
}

.profile-picture-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}

.profile-picture {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  height: 50px;
  margin-right: 1rem;
  object-fit: cover;
  width: 50px;
}

.dropdown-icon {
  color: $black;
  font-size: 1.3rem;

  &:hover {
    color: $table-highlight-green;
  }
}

.dropdown-menu {
  background-color: $gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: .5rem .5rem .5rem .3rem;
  position: absolute;
  right: 3rem;
  top: calc(9% + .75rem);
  z-index: 1;

  button {
    background: none;
    border: 0;
    color: $black;
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    margin: .7rem 0;
    padding: 0;
    position: relative;
  }
}

@media (min-width: 76.5rem) {
  .logo-bar {
    margin-left: 10rem;
  }

  .logo-bar-right-content {
    margin-right: 9rem;
  }
}

@media (max-width: 76.5rem) {
  .logo-bar {
    padding: 5px;

    img {
      height: 3rem;
    }
  }

  .logo-bar-left-content {
    align-items: center;
    display: flex;

    .logo-content {
      align-items: center;
      display: flex;
      padding: 0;

      img {
        border-radius: .5rem;
        cursor: pointer;
        height: 3.5rem;
        width: auto;
      }
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;

      .logo {
        font-size: 5rem;
        margin-right: .3rem;
      }

      .tagline {
        color: $litterpic-green;
        font-size: .5rem;
        font-style: italic;
        margin-top: 0;
      }
    }
  }

  .logo-bar-right-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .donate-button {
    font-size: 1rem;
    font-weight: normal;
    height: 2rem;
    margin-right: 4rem;
    padding: .5rem;
  }


  .profile-picture {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    margin-left: 5.5rem;
    object-fit: cover;
    width: 50px;
  }

  .profile-dropdown {
    display: none;
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  .logo-bar {
    padding-left: .6rem;
    padding-top: 1rem;
    width: 90%;
  }

  .profile-picture {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    margin-right: 1rem;
    object-fit: cover;
    width: 50px;
  }

  .logo {
    font-size: .75rem;
  }

  .tagline {
    font-size: .5rem;
  }

  .logo-bar-right-content {
    .donate-button {
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
      padding: 1.25rem;
    }
  }

  .profile-dropdown {
    display: none;
  }
}
