@import 'colors';
@import 'fonts';

// Nav Bar
nav {
  align-items: center;
  display: flex;
  font-family: Rubik, Times, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  height: auto;
  justify-content: space-evenly;
  padding-bottom: .6rem;
  padding-top: .3rem;
  width: 100%;

  a {
    text-decoration: none;
    transition: color .5s ease;
  }

  &.nav-column {
    margin: 0 auto;
    max-width: 55%;
  }

  button {
    align-content: center;
    background: none;
    color: $black;
    display: flex;
    font: inherit;
    justify-content: space-evenly;

    &:hover {
      color: $nav-green;
    }

    &.active {
      color: $nav-green;
    }

  }
}


@media (max-width: 76.5rem) {
  nav {

    &.nav-column {
      max-width: 95%;
    }

    button {
      font-size: .6rem;
    }
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  nav {
    height: 3.125rem;
    overflow-x: auto;
    overflow-y: hidden;

    a,
    button {
      display: flex;
      font-size: .8rem;
      justify-content: space-evenly;
      margin-left: 0;
    }
  }
}
