@import 'colors';
@import 'fonts';

// Nav Bar
.nav-bar {
  align-items: center;
  display: flex;
  font-family: Rubik, Times, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  height: auto;
  justify-content: center;
  padding-bottom: .6rem;
  padding-top: .3rem;
  width: 100%;

  a {
    color: $black;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    transition: color .5s ease;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-links {
    display: flex;
    position: relative; // Add this line

    a {
      background-color: transparent;
      margin-right: 1.5rem;

      button {
        background-color: transparent;
        color: $black;
        font-family: Rubik, Times, sans-serif;
        font-size: 1.5rem;
      }

    }
  }

  .nav-toggle {
    display: none;

    @media (max-width: 76.5rem) {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      margin-bottom: .5rem;
      position: absolute;
      right: .5rem;
    }

    .icon {
      align-items: center;
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;

      svg {
        fill: currentColor;
        height: 3rem;
        width: 3rem;
      }
    }
  }

  &.mobile-nav {
    .nav-links {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      a {
        margin: 0 0 .5rem;
      }
    }

    .nav-toggle {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 76.5rem) {
  .nav-bar .nav-links {
    background-color: $gray;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    margin-top: .5rem;
    padding: .5rem;
    position: absolute;
    right: .5rem;
    top: 10%;
    z-index: 100;
  }

  .nav-bar.mobile-nav .nav-links.show-navlinks {
    display: flex;
  }


  .nav-toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    .icon {
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-90%);
    }
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  .nav-bar .nav-links {
    background-color: $gray;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    margin-top: .5rem;
    padding: .5rem;
    position: absolute;
    right: .5rem;
    top: 28%;
    z-index: 100;
  }

  .nav-bar.mobile-nav .nav-links.show-navlinks {
    display: flex;
  }
}
