@import 'colors';
@import 'fonts';

.page {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  .no-notifications-message {
    font-size: 1.5rem;
    color: #757575;
    text-align: center;
    margin-top: 20px;
  }

  .notif-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    .notifications-list {
      margin-top: 20px;
    }

    .notification-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px;
      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &.unread {
        background-color: #e8f5e9;
      }

      &:hover {
        background-color: #e0f2f1;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }

      .mark-as-read-button, .delete-notification-button {
        background-color: #015e41;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
        transition: background-color 0.3s ease;
        margin: 0 10px;

        &:hover {
          background-color: $facebook-blue;
        }
      }

      .delete-notification-button:hover {
        background-color: #d32f2f;
      }

      .notification-content {
        display: flex;
        flex-direction: row; /* Align content horizontally */
        align-items: center;
        text-align: left;
        flex-grow: 1;

        .notification-time {
          font-size: 0.75rem;
          color: #757575;
          width: 150px;
          text-align: start;
          margin-left: 10px;
          margin-right: 10px;
          word-wrap: break-word;
          flex-grow: 1;
        }

        .notification-message {
          font-size: 1rem;
          margin: 0;
          color: #333;
          font-weight: 500;
          word-wrap: break-word;
          flex-grow: 1;
        }
      }
    }
  }
}

/* Media query for tablets and larger phones */
@media (max-width: 76.5rem) {
  .notif-content {
    max-width: 90%; /* Adjust width to fit smaller screens */

    .notification-item {
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start;

      .notification-content {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      .mark-as-read-button, .delete-notification-button {
        font-size: 1.5rem;
        padding: 10px 15px;
        margin-top: 10px;
      }

      .notification-time {
        //width: 100%;
        margin-bottom: 10px;
        word-wrap: break-word;
      }

      .notification-message {
        font-size: .7rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .notif-content {
    padding: 0 5px; /* Reduce padding for very small screens */
  }

  .notification-item {
    padding: 5px;
    border-radius: 5px;

    .notification-time {
      font-size: 2rem;
    }

    .notification-message {
      font-size: 1rem;
    }

    .mark-as-read-button, .delete-notification-button {
      padding: 5px 5px; /* Further adjust padding */
    }
  }
}
