@import 'colors';
@import 'fonts';

.report-form-group {
  margin-bottom: 1rem;
  padding: 0;
}

.label-row,
.input-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input-row {
  margin-bottom: 2rem;
}

.label-row,
.input-row {
  display: flex;
  justify-content: space-between;
}

.report-form-label,
.report-form-select {
  text-align: center;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.results-table th {
  text-align: center;
  background-color: #f2f2f2;
}

.report-td-weight {
  text-align: center !important;
}


.report-total-weight {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin-top: 1.5rem;
}

.report-weight-value {
  color: $litterpic-green;
  font-weight: bolder;
  margin-left: .5rem;
  margin-right: .15rem;
}

.report-submit-button {
  border-radius: .5rem;
  margin-left: 1.25%;
}

.report-reset-button {
  border-radius: .5rem;
  margin-left: 1.25%;
}

.report-scrollable-dropdown {
  max-height: 150px;
  overflow-y: auto;
  direction: ltr;
}

.report-no-data-message {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

/* For WebKit browsers like Chrome and Safari */
input::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: .15rem;
}

/* For Mozilla Firefox */
input::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: .15rem;
}

/* For Internet Explorer */
input:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: .15rem;
}

/* For Microsoft Edge */
input::-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: .15rem;
}

/* Standard syntax */
input::placeholder {
  color: #333;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: .15rem;
}

.report-optional-text {
  color: grey;
  font-size: 12px;
  margin-top: -2rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

.date-label-mobile {
  display: none;
}

.report-label-mobile {
  display: none;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 10px;
}

.input-smaller {
  height: 1.75rem;
}

@media (max-width: 768px) {
  .report-form-label {
    display: none;
  }

  .report-label-mobile {
    display: block;
    align-self: start;
    margin-left: 2%;
  }

  .report-optional-text {
    color: grey;
    font-size: 12px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
  }

  .input-row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem;
  }

  .results-table th,
  .results-table td {
    font-size: 10px;
    padding: 3px;
  }

  .report-td-weight {
    text-align: center !important;
  }

  .report-total-weight {
    font-size: 1.2rem;
  }

  .report-submit-button {
    font-weight: bold;
    margin-left: 2.5%;
  }

  .report-reset-button {
    font-weight: bold;
    margin-left: 2.5%;
  }
}