@import 'colors';
@import 'fonts';

.stories-top-bar {
  display: flex;
  justify-content: space-between;
}

.create-post-button {
  border-radius: .5rem;

  button {
    align-self: flex-end;
    margin-bottom: 2.5rem;
  }
}

.stories-about-us {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.post-grid {
  display: flex;
  gap: .5rem;
}

.post {
  border: .01rem solid $litterpic-green;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.likes-comments {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;

  .likes-comments-likes-field {
    margin-right: 2rem;
  }

  .likes-comments-comment-field {
    margin-left: 2rem;
  }
}


.like-count,
.comment-count {
  margin-left: 5px;
}

.fa-comment {
  margin-left: 10px;
}

.filled-comment {
  color: $litterpic-green;
}

.filled-heart {
  color: $red;
}

.empty-heart {
  svg {
    border: 2px solid $red;
  }
}


.suggestion-item {
  background-color: $white;
  cursor: pointer;
  padding: .5rem;

  &:hover {
    background-color: $litterpic-green;
  }

  &.active {
    background-color: $litterpic-green;
    color: $white;
  }
}

.post-carousel {
  border: 1px $litterpic-green;
  display: flex;
  justify-content: center;
  position: relative;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
.carousel-image {
  height: 450px;
  object-fit: cover;
  overflow: hidden;
  width: 700px;
}

.carousel-chevron {
  background-color: $white;
  color: $litterpic-green;
  height: auto;
  position: relative;
  z-index: 1;

  &:hover {
    color: $black;
  }
}

.carousel-chevron-left {
  padding-right: .3rem;
}

.carousel-chevron-right {
  padding-left: .3rem;
}

.post-username-location {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  justify-content: space-between;
  padding-left: 2rem;
  padding-top: 1rem;
}

.post-time {
  align-items: center;
  display: flex;
  font-size: .75rem;
  grid-column: 3;
  grid-row: 2;
  justify-content: flex-end;
  padding-right: 1rem;
}

.profile-image {
  img {
    border-radius: 50%;
    height: 40px;
    object-fit: fill;
    width: 40px;
  }
}

.post-user-name {
  align-items: center;
  display: flex;
  font-weight: normal;
}

.post-location {
  align-items: center;
  color: $dark-blue;
  display: flex;
  font-size: .75rem;
  justify-self: end;
  padding-right: 1rem;
}

.post-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 1.25rem;
}

.post-litter-weight-collected {
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: 1.25rem;
  text-align: center;
}

.post-description {
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: auto;
}

.create-post-content {
  display: flex;
  justify-content: center;

  button {
    border-radius: .5em;
    margin-top: .5rem;
  }
}

@media (max-width: 76.5rem) {
  .post-username-location {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-between;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
  }

  .post-user-name {
    align-items: center;
    display: flex;
    font-size: .75rem;
    justify-content: center;
  }

  .post-location {
    a {
      font-size: .75rem;
    }
  }

  .post {
    border: .01rem solid $litterpic-green;
    border-radius: .5rem;
    margin-bottom: .5rem;
  }

  .carousel-chevron {
    background-color: $white;
    color: $litterpic-green;
    height: auto;
    position: relative;
    z-index: 1;

    &:hover {
      color: $black;
    }
  }

  .carousel-chevron-left {
    padding-right: .01rem;
  }

  .carousel-chevron-right {
    padding-left: .01rem;
  }

  .carousel-image {
    height: auto;
    object-fit: fill;
    overflow: hidden;
    width: 400px;
  }
}


@media (max-width: 102.25rem) and (orientation: landscape) {
  .post-username-location {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-between;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
  }

  .post-user-name {
    align-items: center;
    display: flex;
    font-size: .75rem;
    justify-content: center;
  }

  .post-location {
    a {
      font-size: .75rem;
    }
  }

  .post {
    border: .01rem solid $litterpic-green;
    border-radius: .5rem;
    margin-bottom: .5rem;
  }

  .carousel-chevron {
    background-color: $white;
    color: $litterpic-green;
    height: auto;
    position: relative;
    z-index: 1;

    &:hover {
      color: $black;
    }
  }

  .carousel-chevron-left {
    padding-right: .01rem;
  }

  .carousel-chevron-right {
    padding-left: .01rem;
  }

  .carousel-image {
    height: auto;
    object-fit: fill;
    overflow: hidden;
    width: 300px;
  }

}
