/* styles.css */

nav {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

nav a {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin: 0 45px;
    text-decoration: none;
    transition: color 0.5s ease;
    text-transform: uppercase;
}

nav button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

nav button:hover {
    color: #02c14d;
}

nav button.active {
    color: #02c14d;
}

body {
    background-color: #fff;
}

p {
    line-height: 1.25;
}

li {
    margin-bottom: 15px;
}

.logo-bar img {
    width: 50px;
    height: auto;
}

.logo-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo-content {
    margin-right: 10px;
}

.logo {
    font-size: 25px;
    padding-bottom: .1rem;
}

.tagline {
    color: #015e41;
    font-style: italic;
    font-size: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.logo-bar p {
    margin: 0;
}

.footer {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.address-link {
    cursor: pointer;
}

.address-link:hover {
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    object-position: top center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -75%);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.blank-space {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Community Service Hours*/
.community_service_heading_text {
    text-align: center;
}