/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Formatting */
body {
    background-color: white;
}

main {
    min-height: 100vh;
}

p {
    line-height: 1.75;
    font-size: 18px;
}

.page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
}

div {
    margin: 0;
    padding: 0;
}

h1.heading-text {
    text-align: center;
    color: #015e41;
    margin-bottom: 40px;
}

h2.heading-text {
    text-align: center;
    color: #015e41;
    margin-top: 40px;
    margin-bottom: 5px;
}

/* Logo Bar */
.logo-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 30px;
    background-color: white;
}

.logo-bar img {
    width: 50px;
    height: auto;
    padding-top: 5px;
}

.logo-bar p {
    line-height: 1;
}

.logo-content {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.logo {
    font-size: 25px;
    margin-right: 5px;
}

.tagline {
    color: #015e41;
    font-style: italic;
    font-size: 18px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: center;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    background-color: white;
}

nav a {
    text-decoration: none;
    transition: color 0.5s ease;
}

nav button {
    margin: 0 15px;
    background: none;
    font: inherit;
    color: black;
}

nav button:hover {
    color: #479079;
}

nav button.active {
    color: #479079;
    padding: 5px;
}

/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    height: 300px;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Home */
.banner {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weight-box {
    background-color: #E5E5E4;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #015e41;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', serif;
}

.litter-weight {
    font-size: 38px;
    color: #015e41;
}

.pounds-text {
    color: black;
}

/* Community Service Hours */
li {
    margin-bottom: 15px;
}

ol {
    margin-left: 40px;
}

/* Directors */
.about_content {
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.memberContainer {
    display: flex;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.memberImage {
    width: 115px;
    height: 125px;
    margin-right: 20px;
}

.memberContent {
    flex: 1;
}

.memberContent h3 {
    margin-top: 0;
}

.memberContainer:nth-child(odd) .memberImage {
    margin-left: 110px;
}

/* Donate */
.donate-legal-text {
    margin-right: 40px;
}

.donorbox-images-container {
    display: flex;
    flex-direction: row;
}

.donorbox_container {
    margin-top: 20px;
    flex: 0 0 auto;
}

.donate-image-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Contact */
.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contact-container {
    width: 75vw;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #015e41, #000000);
    color: #fff;
    padding: 40px;
}

.contact-container h1 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 10px;
}

.input-container input,
.input-container textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    text-align: left;
}

.contact-input {
    width: 25em;
    height: 3em;
    font-size: 18px;
}

.contact-textarea {
    width: 50%;
    height: 15em;
}

button {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #015e41;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.contact_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Image Row */
.image-row {
    display: flex;
    overflow-x: auto;
    height: 40vh;
}

.image-row__item {
    margin: 2px;
}

/* Volunteer Calendar */
.event-background {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.rbc-event,
div.rbc-event.rbc-event-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: #015e41 !important;
}

.rbc-event-content {
    font-size: 14px;
    height: 20px;
}

.calendar {
    display: flex;
    justify-content: center;
}

.rbc-calendar {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
}

/* Volunteer Events Table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 16px;
}

.highlight {
    background-color: #4CAF50;
    color: white;
}

.start-time-column {
    width: 60px;
}

/* User Posts */
.stories-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    padding: 30px;
    background-color: #fff;
    width: 75vw;
}

.story-posts {
    display: flex;
    justify-content: space-around;
}

.post-grid {
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 70px;
    row-gap: 20px;
    grid-auto-flow: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    border: solid #015e41;
    border-radius: 25px;
    height: auto;
    min-height: 700px;
    width: 500px;
    overflow: hidden;
    padding-top: 20px;
}

.post p {
    text-align: center;
}

.post-carousel {
    position: relative;
}

.carousel-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}

.carousel-chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    background-color: #015e41;
    height: 30px;
}

.carousel-chevron-left {
    left: 0;
}

.carousel-chevron-right {
    right: 0;
}

.carousel-chevron:hover {
    transform: translateY(-50%) scale(1.1);
    color: #015e41;
    background-color: white;
}

.post-user-name {
    margin-left: 45px;;
    font-weight: normal;
    font-family: Helvetica, serif;

}

.post-title {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1.5em;
    font-weight: bolder;
}

.post-location {
    margin-top: 20px;
    margin-left: 15px;
    font-family: Helvetica, serif;
    font-size: 15px;
    color: blue;
}

.post-litter-weight-collected {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
}

.post-description {
    width: 400px;
    font-size: 22px;
    font-family: inherit;
    margin: 5px auto 15px;
}

/* Volunteer */
.community-service-button {
    display: block;
    margin: 30px auto 40px;
    border-radius: 20px;
    padding: 10px;
}

/* Footer */
.address-link:hover {
    cursor: pointer;
    color: blue;
}

.footer-columns {
    display: flex;
    justify-content: center;
    background-color: #D3D3D3;
}

.footer-column-1,
.footer-column-2,
.footer-column-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footer-column-2 {
    padding-top: 55px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.footer-column-3 a {
    text-decoration: none;
    color: black;
    line-height: 1.5;
    font-size: 18px;
}

.footer-column-3 a:hover {
    color: blue;
}

.footer {
    position: relative;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .page {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    p,
    li,
    a {
        line-height: 1.5;
        font-size: 12px;
    }

    .content {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        width: 80vw;
        margin: auto;
    }

    .logo-bar,
    nav {
        width: 100%;
    }

    .logo-bar {
        padding-left: 10px;
        padding-top: 15px;
    }

    .logo {
        font-size: 20px;
    }

    .tagline {
        font-size: 16px;
    }

    nav {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    nav a,
    nav button {
        display: inline-block;
        font-size: 12px;
        margin: 10px 5px;
    }

    .banner {
        height: 100px;
    }

    .weight-box {
        height: 15%;
    }

    .litter-weight {
        font-size: 18px;
    }

    .memberContainer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .memberImage {
        width: 85px;
        height: 95px;
    }

    .memberContainer:nth-child(odd) .memberImage {
        margin-left: 0;
    }

    /* Donate */
    .legal {
        margin-right: 40px;
    }

    .donorbox-images-container {
        display: flex;
        flex-direction: column;
    }

    .donorbox_container {
        margin-top: 20px;
        flex: 0 0 auto;
    }

    .image_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Image Row */
    .contact-container {
        width: 90%;
        padding: 20px;
    }

    .input-container input,
    .contact-input {
        max-width: 100%;
    }

    .input-container textarea,
    .contact-textarea {
        max-width: 100%;
    }

    .rbc-calendar {
        width: 90%;
        margin: auto auto 20px;
    }

    .calendar {
        width: 102%;
    }

    .rbc-toolbar button {
        font-size: 12px;
    }

    .rbc-toolbar-label {
        font-size: 12px;
    }

    .table td,
    .table th {
        padding: 1px;
        font-size: 10px;
    }

    .start-time-column {
        width: 40px;
    }

    .post-grid {
        display: grid;
        grid-template-columns: none;
        gap: 10px;
        padding: 10px;
    }

    .post {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 10px;
        height: 45vh;
        width: 45vw;
    }

    .post-carousel {
        object-fit: cover;
        justify-content: center;
        margin-bottom: 10px;
    }

    .post-carousel img {
        max-width: 100vw;
        height: auto;
        object-fit: cover;
        margin: 0 10px;
    }

    /* Footer */
    .footer-column-3 a {
        font-size: 12px;
    }

    .contact-wrapper {
        height: 70vh;
    }
}

/* Media Query for Landscape */
@media (max-width: 1024px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .logo-bar,
    nav {
        width: 100vw;
    }

    body {
        margin: 0 auto;
    }

    p,
    li {
        font-size: 14px;
    }

    .content {
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .logo-bar img {
        width: 40px;
    }

    .logo-bar {
        padding-left: 10px;
        padding-top: 15px;
    }

    .logo {
        font-size: 20px;
    }

    .tagline {
        font-size: 16px;
    }

    nav {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    nav a,
    nav button {
        display: inline-block;
        font-size: 20px;
        margin: 10px 5px;
    }

    .banner {
        height: 125px;
    }

    .weight-box {
        height: 15%;
    }

    .litter-weight {
        font-size: 24px;
    }

    .about_content,
    .memberContainer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .memberImage {
        width: 85px;
        height: 95px;
    }

    .memberContainer:nth-child(odd) .memberImage {
        margin-left: 0;
    }

    .donorbox_container {
        margin-top: 10px;
    }

    .image_container {
        margin: 10px 10px;
    }

    .donate-image {
        width: 30%;
        height: auto;
        justify-content: left;
    }

    .contact-container {
        width: 80vw;
        padding: 10px;
    }

    .contact-container h1 {
        font-size: 24px;
    }

    .contact-container button {
        padding: 5px;
    }

    .contact-wrapper {
        margin-bottom: 65vh;
    }

    .input-container input,
    .contact-input {
        max-width: 100%;
    }

    .input-container textarea,
    .contact-textarea {
        max-width: 100%;
    }

    .rbc-calendar {
        width: 90%;
        margin: auto auto 20px;
    }

    .calendar {
        width: 102%;
    }

    .rbc-toolbar button {
        font-size: 12px;
    }

    .rbc-toolbar-label {
        font-size: 12px;
    }

    .table td,
    .table th {
        padding: 8px;
    }

    .start-time-column {
        width: 40px;
    }

    .post-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .post {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 10px;
        width: 20vw;
        height: 80vh;
    }

    .post-carousel {
        justify-content: center;
        object-fit: cover;
    }

    .post-carousel img {
        max-width: 80vw;
        height: auto;
        object-fit: cover;
        margin: 0 10px;
    }
}
