@import 'colors';
@import 'fonts';

// User Posts
.stories-top-bar {
  display: flex;
  justify-content: space-between;
}

.create-post-button {
  button {
    align-self: flex-end;
    border-radius: .5em;
    margin-bottom: 2.5rem;
  }
}

.story-posts {
  display: flex;
  justify-content: space-around;
}

.post-grid {
  display: grid;
  gap: .5rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 34rem);
}

.post {
  border: solid $litterpic-green;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: .6rem;

  p {
    text-align: center;
  }
}

.post-carousel {
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel-image {
  height: 33.125rem;
  object-fit: cover;
  overflow: hidden;
  width: 33.125rem;
}

.carousel-chevron {
  background-color: $white;
  color: $litterpic-green;
  height: 33.125rem;
  position: relative;
  z-index: 1;

  &:hover {
    color: $black;
  }
}

.carousel-chevron-left {
  padding-right: .3rem;
}

.carousel-chevron-right {
  padding-left: .3rem;
}

.post-user-name {
  font-family: Helvetica, serif;
  font-weight: normal;
  margin-left: 4.3rem;
}

.post-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 1.25rem;
}

.post-location {
  color: $dark-blue;
  font-family: Helvetica, serif;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1.25rem;
}

.post-litter-weight-collected {
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: 1.25rem;
  text-align: center;
}

.post-description {
  font-family: inherit;
  font-size: 2.125rem;
  margin: .3rem auto 1rem;
  width: 25rem;
}

// Create Post
.create-post-content {
  display: flex;
  justify-content: center;

  button {
    border-radius: .5em;
  }
}


@media (max-width: 76.5rem) {
  .story-posts {
    width: 100%;
  }

  .post-grid {
    display: inline-flex;
    flex-direction: column;
    height: 80%;
    padding: 0;
    width: 100%;
  }

  .post {
    border: .06rem solid $black;
    min-height: unset;
    padding: .6rem;
    width: 100%;
  }

  .post-carousel {
    justify-content: center;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: auto;

    img {
      height: auto;
      margin: auto;
      max-width: 100%;
      object-fit: cover;
    }
  }

  .post-user-name {
    font-family: Helvetica, serif;
    font-weight: normal;
    margin-left: .3rem;
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: .3rem;
    margin-top: 1.25rem;
  }

  .post-location {
    color: $dark-blue;
    font-family: Helvetica, serif;
    font-size: 1rem;
    margin-left: .3rem;
    margin-top: 1.25rem;
  }

  .post-litter-weight-collected {
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 1.25rem;
    text-align: center;
  }

  .post-description {
    font-family: inherit;
    font-size: 1.5rem;
    margin: 0;
    width: 18.75rem;
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {
  .post-grid {
    display: inline-flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: .6rem;
  }

  .post {
    border: .06rem solid $black;
    min-height: 6.25rem;
    padding: .6rem;
    width: 100%;
  }

  .post-carousel {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

    img {
      height: auto;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      object-fit: fill;
    }
  }

  .post-description {
    width: 100%;
  }
}
