@import 'colors';
@import 'fonts';

// Volunteer
.volunteer-top-paragraph {
  line-height: 2;
}

.community-service-button {
  align-items: center;
  border-radius: .5em;
  display: flex;
  font-family: RopaSans, sans-serif;
  height: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .6rem;
  width: 195px;
}

// Volunteer Calendar
.event-background {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.rbc-calendar {

  display: flex;
  margin-bottom: 1.875rem;
  width: 100%;

  .rbc-month-view {
    .rbc-day-bg {
      &.rbc-today {
        background-color: $light-green-dull;
        border-color: $litterpic-green;
        border-width: .25rem;
      }
    }
  }
}


.rbc-event-content {
  font-size: .9rem;
  height: 1.25rem;
}

.rbc-toolbar-label {
  font-family: Arial, serif;
  font-size: 1.625rem;
}

.calendar {
  display: flex;
  justify-content: center;
}


.calendar-chevron-left,
.calendar-chevron-right {
  color: $black;
  font-size: 1.25rem;
}


// Volunteer Events Table
.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: .06rem solid $table-gray;
    padding: 1rem;
  }
}

.highlight {
  background-color: $table-highlight-green;
  color: $white;
}

.start-time-column {
  width: 3.75rem;
}


.form-container {
  display: grid;
  gap: .25rem;
  grid-template-columns: 225px auto;
  grid-template-rows: auto;


  label[for='numberAttending'] {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  input[name='numberAttending'] {
    grid-column: 2;
    grid-row: 1;
  }

  label[for='note'] {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }

  textarea[name='note'] {
    grid-column: 2;
    grid-row: 2;
  }
}

.form-input {
  border: 1px solid $litterpic-green;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.textarea-large {
  border: 1px solid $litterpic-green;
  border-radius: 5px;
  height: 60px;
  padding: 5px;
  width: 80%;
}

.input-small {
  border: 1px solid $litterpic-green;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
}

.rsvp-buttons {
  display: flex;
  justify-content: space-between;
}

.rsvp-button {
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  font-family: RopaSans, sans-serif;
  margin: 1rem auto;
  padding: .6rem;

  &.submit {
    margin-right: 1rem;
  }

  &.cancel {
    margin-left: 1rem;
  }
}

.volunteer-event-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}

.rsvp-thankyou {
  margin-top: 1rem;
  text-align: center;

  button {
    border-radius: .5rem;
  }
}

.cancel-rsvp-button {
  border-radius: .5rem;
  display: flex;
  font-size: .8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
}

.event-form {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(1, 1fr);
}

.form-row {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;

  &:first-child {
    font-weight: bold;
    padding-right: 3rem;
    text-align: end;
  }
}

textarea {
  &.event-description-input {
    min-height: 100px;
    overflow-wrap: break-word;
    resize: none;
    width: 100%;
  }
}

.location-input {
  width: 100%;
}

.create-event-buttons {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 7;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .event-submit {
    border-radius: .5rem;
    margin-right: .5rem;
  }

  .event-submit-cancel {
    border-radius: .5rem;
    margin-left: .5rem;
  }
}

.create-event-button {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  font-family: RopaSans, sans-serif;
  height: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .6rem;
  width: 195px;
}

@media (max-width: 76.5rem) {
  .start-time-column {
    width: 2.5rem;
  }

  .rbc-calendar {
    margin: auto auto 1.25rem;
    width: 100%;
  }

  .calendar {
    width: 100%;
  }

  .rbc-toolbar {
    button {
      font-size: 1.125rem;
    }
  }

  .rbc-toolbar-label {
    font-size: 2.25rem;
  }

  .table {
    td,
    th {
      font-size: .6rem;
      padding: .06rem;
    }
  }
}

@media (max-width: 102.25rem) and (orientation: landscape) {

  .start-time-column {
    width: 2.5rem;
  }

  .rbc-calendar {
    margin: auto auto 1.25rem;
    width: 100%;
  }

  .calendar {
    width: 100%;
  }

  .rbc-toolbar {
    button {
      font-size: 1.125rem;
    }
  }

  .rbc-toolbar-label {
    font-size: 2.5rem;
  }

  .table {
    td,
    th {
      padding: .5rem;
    }
  }
}
